<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>com.foodordering.profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VictualsServlet</servlet-name>
        <servlet-class>com.foodordering.victuals.VictualsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.foodordering.cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.foodordering.order.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.foodordering.payment.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>com.foodordering.payment.paymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VictualsServlet</servlet-name>
        <url-pattern>/VictualsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
